# nginx conf file for {{ web_server }} vm
[ req ]
default_bits	        = 4096
default_md	        = sha512
default_keyfile	        = nginx.key
prompt		        = no
encrypt_key	        = no
distinguished_name      = req_distinguished_name
req_extensions	        = v3_req

[ req_distinguished_name ]
countryName	        = "US"
localityName	        = "San Antonio"
organizationName        = "lab"
organizationalUnitName  = "local"
commonName		= "{{ web_server }}".lab.local

[ v3_req ]
keyUsage		= keyEncipherment, dataEncipherment
extendedKeyUsage	= serverAuth, clientAuth
subjectAltName		= @alt_names

[ alt_names ]
DNS.1 = "{{ web_server }}".lab.local
